<main></main>
<section class="section">
  <article class="article font-half">
    The only way to do great work is to love what you do. If you haven't found
    it, that's what Field is for. Let us help you discover who you trully are,
    and guide you on your path.
  </article>
  <div class="divider"></div>
  <figure class="figs font-half">
    <div class="fig">get on field</div>
    <div class="fig">how it works</div>
  </figure>
</section>
<aside class="font-half bot-icon"></aside>
<aside class="aside-icon">
  <span class="logo"></span>
  <div class="fields">
    <span class="field">field.</span>
    <span class="copyright">All Rights Reserved @2019</span>
  </div>
</aside>
